
.joti-one-regular {
  font-family: "Joti One", serif;
  font-weight: 400;
  font-style: normal;
}




body {
    background-image: linear-gradient(to right, rgb(186, 0, 0) 10% , rgb(83, 3, 3),  rgb(50, 0, 0) 90%);
}
main {
    background-color: white;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 10px 15px 20px ;
}

