body {
    background-image: linear-gradient(to right, gray , black);
}
main {
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgb(54, 54, 54);
}
p {
    text-align: justify;
    color: black;
}
a {
    color: black;
}
iframe {
    border-radius: 15px;
}